# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/
venv_mcp/

# Local configuration
.env
.vscode/

# Project Specific
.local_vector_store/
*.ipynb
*.zip
*.csv
*.xlsx
docs/

# Logs
*.log
